body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #28283e;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #64649f;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    border-bottom: 2px solid #64649f;
    padding-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #64649f;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  form{
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input[type="text"],
  form input[type="email"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #64649f;
    width: 15%;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position:sticky;
    width: 100%;
    bottom: 0;
  }
  
  /* Add these styles to your existing CSS */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background-color: #64649f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 15%;
}

form button:hover {
    background-color: #45a049;
}
